POSTGRES_USER=clarion_admin
POSTGRES_PASSWORD=clarion_admin_password
POSTGRES_DB=clarion_ops
POSTGRES_PORT=5432

DATA_SERVICE_DB=data_service
DATA_SERVICE_USER=data_service_app
DATA_SERVICE_PASSWORD=data_service_password
DATA_SERVICE_SCHEMA=data